<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b468a8d8-80b4-47ef-9541-a8a657df9163/resourceGroups/ciceksepeti/providers/Microsoft.Web/sites/ciceksepeti</ResourceId>
    <ResourceGroup>ciceksepeti</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ciceksepeti.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ciceksepeti.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ciceksepeti</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ciceksepeti</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CicekSepeti.Web.DataAccess.CicekSepetiDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:seymadb.database.windows.net,1433;Initial Catalog=CicekSepeti;User ID=seyma@seymadb.database.windows.net;Password=Kebe7lek" Name="Data Source=tcp:seymadb.database.windows.net,1433;Initial Catalog=CicekSepeti;User Id=seyma@seymadb.database.windows.net;Password=Kebe7lek;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CicekSepeti.Web.DataAccess.CicekSepetiDbContext, CicekSepeti.Web" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CicekSepeti.Web.DataAccess.CicekSepetiDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:seymadb.database.windows.net,1433;Initial Catalog=CicekSepeti;User Id=seyma@seymadb.database.windows.net;Password=Kebe7lek;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CicekSepeti.Web.DataAccess.CicekSepetiDbContext" />
  </ItemGroup>
</Project>